			<table class="table table-striped">
				<thead class="thead-dark">
				<tr>
					<th scope="col" width="20">#</th>
					<th scope="col">Receta</th>
					<th scope="col">Activa</th>
					<th scope="col"></th>
				</tr>
				</thead>
				<tbody>
				{{#each recipes}}
					<tr>
						<th scope="row">{{this.id}}</th>
						<td>
							<a href="{{this.url}}">{{this.title}}</a>
						</td>
						<td>
							{{this.active_text}}
						</td>
						<td>
							<a href="{{this.url_edit}}">Editar</a>
						</td>
					</tr>
				{{/each}}
				</tbody>
			</table>

