<!--
See: https://metropolitanhost.com/themes/themeforest/html/trickly/recipe-grid.html
-->

<div class="section">
    <div class="container">
	    <div class="row">
			{{#each recipes}}
				<div class="col-lg-4 col-md-6">
					<article class="metro_post metro_recipe">
						<div class="metro_post-thumb">
							<a href="{{this.url}}">
								<img src="{{this.featured_image_url}}"
								     alt="recipe">
							</a>
						</div>
						<div class="metro_post-body">
							<div class="metro_post-desc">
			                            <span class="metro_post-meta"> <a href="#"> <i class="far fa-clock"></i> 45 Minutes </a> <a
					                            href="recipe-details.html"> <i class="far fa-knife-kitchen"></i> Expert</a> </span>
								<h5><a href="{{this.url}}">
									{{this.title}}
								</a></h5>
								<p>Cras ultricies ligula sed magna dictum porta. Curabitur non nulla sit amet nisl tempus
									convallis quis ac lectus.</p>
							</div>
							<a class="btn-link" href="{{this.url}}"> Leer Más</i>
							</a>
						</div>
					</article>
				</div>
			{{/each}}
        </div>
    </div>
</div>
